{
    admin localhost:2099
}

modc2.com {
    handle /proxy/api/* {
        uri strip_prefix /proxy/api
        reverse_proxy localhost:8000
    }
    handle /bridge/* {
        reverse_proxy localhost:8841
    }
    handle /bridge {
        reverse_proxy localhost:8841
    }
    handle /proxy/bridge/api/* {
        uri strip_prefix /proxy/bridge/api
        reverse_proxy localhost:8840
    }
    handle /* {
        reverse_proxy localhost:3000
    }
}
