{
    admin localhost:2099
}

modc2.com {
    @app_api path /app/api /app/api/*
    handle @app_api {
        uri strip_prefix /app/api
        reverse_proxy localhost:8000
    }
    @app path /app /app/*
    handle @app {
        uri strip_prefix /app
        reverse_proxy localhost:3000
    }
    @bridge_api path /bridge/api /bridge/api/*
    handle @bridge_api {
        uri strip_prefix /bridge/api
        reverse_proxy localhost:8840
    }
    handle /* {
        reverse_proxy localhost:3000
    }
}
