# Ganache Configuration
GANACHE_URL=http://ganache:8545
MNEMONIC=test test test test test test test test test test test junk

# Base Mainnet Configuration
BASE_RPC_URL=https://mainnet.base.org
PRIVATE_KEY=

# Contract Addresses (filled after deployment)
export NATIVE_TOKEN_ADDRESS=0xB422e1E4e6d90140537F72526C3cd6bDD18b0078
export BLOCTIME_ADDRESS=0x70821569763fbf313B40185FC377A584849dD074
export REGISTRY_ADDRESS=0x599f4f039980FB67cFC1BE4B1e287DF93D5CD250
export MARKET_ADDRESS=0x80891727aC91F13A70c2877390FE758602cfedd4