app.modc2.com {
    handle /bridge/* {
        reverse_proxy localhost:8841
    }
    handle /claude/* {
        reverse_proxy localhost:8821
    }
    handle /embedcode/* {
        reverse_proxy localhost:3920
    }
    handle /* {
        reverse_proxy localhost:3000
    }
}

api.modc2.com {
    reverse_proxy localhost:8000
}
